{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <head>
        <meta charset="utf-8">
        <title>Maxwell's Minerals: A magnificant catalog of minerals</title>
        <meta name="description" content="">
        <meta name="author" content="Maxwell Hunter">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet" type='text/css'>
        </head>
        <link rel="stylesheet" href="/static/css/global.css">
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}
        {% endblock content %}
        <div class="minerals__random">
                <a class="minerals__anchor" href="{% url 'random' %}">Show random mineral</a>
        </div>
    </body>
</html>