{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <head>
        <meta charset="utf-8">
        <title>Maxwell's Minerals: A magnificant catalog of minerals</title>
        <meta name="description" content="">
        <meta name="author" content="Maxwell Hunter">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet" type='text/css'>
    </head>
    <link rel="stylesheet" href="/static/css/global.css">
</head>

<body>
    <div class="container">
        <div class="grid-20 fixed text-centered">
            <div class="grid-50">
                Colors:
                {% for color in colors %}
                    <a href="{% url 'color' query=color %}"
                        {% if color == color_listing %}
                        id='filtered_color'
                        {% endif %}>

                        {{ color | title }}
                    </a><br/>
                {% endfor %}

            </div>
            <div class="grid-50">
                Groups:
                    {% for group_listing in groups %}
                        <a href="{% url 'group' query=group_listing %}" 
                        {% if group == group_listing %} 
                            id='filtered_group'
                            {% endif %}>

                            {{ group_listing }}
                        </a><br/>
                    {% endfor %}
            </div>
        </div>
        <div class="grid-80 scroll">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}

            <p class="text-centered">
                Filter by first letter: </br>
                {% for char in alphabet %}
                {% if char == letter %}
                <strong>
                    {% endif %}
                    <a href="{% url 'filter' query=char %}" {% if char == letter %} id='filtered_letter' {% endif %}>
                        {{ char }}
                    </a>
                    {% if char == letter %}
                </strong>
                {% endif %}
                {% endfor %}
            </p>

            <form action="{% url 'search-all' %}" class="text-centered" method="post" name="search">
                {% csrf_token %}
                {{ SearchForm.search }}<input type='submit'>
            </form>

            {% block head %}
            {% endblock head %}
            {% if minerals is not None %}
            <h2 class="text-centered">
                {{ minerals.count }} minerals found
                {% if query %}
                for search query "{{ query }}"
                {% endif %}
                {% if letter %}
                that start with the letter "{{ letter }}"
                {% endif %}
                {% if group %}
                in the group "{{ group }}"
                {% endif %}
                {% if color_listing %}
                that have a "{{ color_listing }}" color
                {% endif %}
            </h2>
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
        <div class="minerals__random">
            <a class="minerals__anchor" href="{% url 'random' %}">Show random mineral</a>
        </div>
</body>

</html>